
@font-face {
    font-family: robotofont;
    src: url(fonts/Roboto-Regular.ttf);
    font-family: robotofont-thick;
    src: url(fonts/Roboto-Black.ttf);


}

.maindiv 
{
    font-family: robotofont;

  
}

.part1 {
    
    background-color: #1f2937;
    height: 400px;
    display: flex;
    
    
}
.part1top {
    
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    padding-left: 10px;
    padding-right: 10px;
    

}

.part2 {
    font-family:robotofont-thick;
    background-color: #ffffff;
    height: 400px;
    font-weight: 1200;
    color: #1f2937 ;
    font-size: 24px;
}

.part3 {
    
    background-color: #e5e7eb;
    height: 400px;
}
.part4 {
    
    
    height: 400px;
}

