
@font-face {

    font-family: robotofont-thick;
    src: url(fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: robotofont;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: robotoitalic;
    src: url(fonts/Roboto-Italic.ttf);

}



.maindiv
{
    font-family: robotofont; 
}
.button1 {
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #3882f6
   
  }
  .button2 {
    
    border: 2px solid white;
  }

.part1 {
    
    background-color: #1f2937;
    height: 500px;
    display: flex;
    flex-direction: column;   
    
        
}
.part1top {
   
    display: flex;
    justify-content: space-between;
    flex: 0;
    margin-left: 100px;
    margin-right: 100px;   
    height: 35px;
    color: white;
    
}
.rightheader a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 35px;
    
}
.rightheader {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: flex-end;
    
}

img {
    object-fit: cover;
}

.part1bottom {
    
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    margin-left: 100px;
    margin-right: 100px;  
    align-items: stretch;  
    margin-top: 100px;
    overflow: hidden;
    
}
.awesome  {
color: #f9faf8;
}
.text1 {
color: #e5e7eb;
}
.part2 {
    
    background-color: #ffffff;
    height: 600px;
    font-weight: 1200;
    color: #1f2937 ;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.imgcontainer {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;





}
.imgcontainer div {

    font-size: 16px;
    text-align: center;
    flex: 1 1 0;
    overflow: hidden;

}
.img2 {
 
    width: 230px;
    height: 200px;
    border-radius: 10px;
    border-color: #3882f6;
    border-style: solid;
    border-width: 5px;
    flex: 1;
    
}

.part3 {
    
    background-color: #e5e7eb;
    height: 400px;
    text-justify: left;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: robotofont-thick;
    
}

.part3 div {
    
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: right;
    padding-left: 100px;
    padding-right: 100px;
    

}
.quote {
    font-family: robotoitalic;
    font-size: 35px;
    padding-top: 100px;

}
.part4 {
    
    
    height: 500px;
}
.part4white
{
   height: 400px; 
   background-color: white ;
   display: flex;
}

.part4white .bluebackground 
{
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    flex: 1 1 auto;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    border-radius: 15px;
    color: white;
}

.part4bottom
{
    height: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



